html {
	height: 100%;
}

body {
	height: 100%;
}

.row {
	height: 90%;
	width: 100%;
}

.col-sm-9 {
	height: 100%;
}

#map {
	height: 100%;
}

.panel-title {
	margin-bottom: 5px;
}

.panel-body {
	padding-top: 0px ;

	ul {
		padding-left: 17px;
	}
}

.btn-danger {
	float: right;
	padding: 0 6px 0 6px;
}

select {
	width: 89%;
}

h3 {
	font-size: 15px;
}


